/** Stylus Styles */
@require '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $brown.lighten-1
  accent: $green.lighten-1
  secondary: $green.lighten-4
  tertiary: $yellow.lighten-3
  info: $blue.lighten-1

  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}
@import '../../node_modules/vuetify/src/stylus/main'
